<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEeLm1GKcfKQ_LFFbmdW34yL_5r0Bmulo</string>
	<key>GCM_SENDER_ID</key>
	<string>569475592449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chillapp.rainsounds.sleepsounds.relax</string>
	<key>PROJECT_ID</key>
	<string>chill-rain-sound</string>
	<key>STORAGE_BUCKET</key>
	<string>chill-rain-sound.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569475592449:ios:969d42a13b9490dbc16b00</string>
</dict>
</plist>